.box{
    display: flex;
    margin-top: 50px;
    margin-left: 20%;

    input{
        margin-left: 20px;
    }
}

.button{
    width: 300px;
    margin-top: 50px;
    margin-left: 43%;
    
    button{
        border: none;
    }
}